ChEn-1070: Introduction to Chemical Engineering Spring 2019 UMass Lowell; Profs. Manohar and de Almeida **08Apr2019**

# Laboratory Work 09 16Apr2019

### Name: `your name`

### Rubric for each assignment: 

|         Context                    |  Points |
| -----------------------     | ------- |
| Precision of the answer     |   80%   |
| Answer Markdown readability |   10%   |
| Code readability            |   10%   |

### <span style="color:red">Guidance:</span>
 +  <span style="color:red"> 
    Save your work frequently to a file locally to your computer.
    </span>
 +  <span style="color:red">
    During your work and before submitting the final version do: `Kernel` -> `Restart & Run All`, to verify your notebook runs correctly.
    </span>
 +  <span style="color:red">
    Save your file again.
    </span>

## <span style="color:blue">Assignment 1 (25 pts).</span>
### <span style="color:blue">Using `pandas`, `mendeleev`, and a `for` loop, make a data frame table and plot as follows: 
 + Row labels: name of all noble gas elements,
 + Column labels: symbol, atomic number, atomic radius, mass density, electron affinity, isotopes mass number,
 + Use scientific notation where applicable with 5 significant figures,
 + Print the data frame,
 + Plot electron affinity (with units) versus symbol.
</span>

In [24]:
'''Create a table using mendeleev data'''

try:
    import mendeleev  # creates the `name` mendeleev
except ImportError:
    print('Installing the "mendeleev" package...')
    print('')
    !pip install mendeleev
    import mendeleev
            
import pandas as pd

# the intention here is to use this list as rows labels
col_labels = ['symbol', 'atomic number', 'atomic radius', 'mass density', 'electron affinity', 'isotopes' ]

# columwise data in the form of a dictionary
data = dict() # initialize empty dict to hold data

for label in col_labels:
    
    column_data = list()  # initialize empty list to hold the column data
    
    index = list()
    
    for i in range(1,119):  # loop over atomic numbers ...
        
        ele = mendeleev.element(i) # get chemical element with atomic number i
    
        if ele.series != 'Noble gases':
            continue
        
        if label == 'symbol':
            value = ele.symbol
        elif label == 'atomic number':
            value = ele.atomic_number
        elif label == 'atomic radius':
            value = ele.vdw_radius
            if value is None: value = 0.0
        elif label == 'mass density':
            value = ele.density
            if value is None: value = 0.0
        elif label == 'electron affinity':
            value = ele.electron_affinity
            if value is None: value = 0.0
        elif label == 'isotopes':
            value = [iso.mass_number for iso in ele.isotopes]
        else:
            print(label)
            assert False
    
        index.append(ele.name)
        
        column_data.append(value)
        
    #print(label)
    #print(column_data)
    
    # store column data in the dictionary key: column label
    data[label] = pd.Series(column_data, index) # value: pd.Series
    

df2 = pd.DataFrame(data) # pass the dictionary to the data frame

In [25]:
df2

,symbol,atomic number,atomic radius,mass density,electron affinity,isotopes
Helium,He,2,140.0,0.147,-19.700,"[3, 4]"
Neon,Ne,10,154.0,1.204,0.000,"[20, 21, 22]"
Argon,Ar,18,188.0,1.400,-11.500,"[36, 38, 40, 39]"
Krypton,Kr,36,202.0,2.155,0.000,"[78, 80, 82, 83, 84, 86, 85]"
Xenon,Xe,54,216.0,3.520,-0.056,"[124, 126, 128, 129, 130, 131, 132, 134, 136]"
Radon,Rn,86,220.0,4.400,0.000,"[210, 211, 222]"
Oganesson,Og,118,0.0,0.000,0.056,[294]

## <span style="color:blue">Assignment 2 (25 pts).</span>
### <span style="color:blue">Using `pandas`, `mendeleev`, `scipy.constants`, and a `for` loop, make a data frame table and plot as follows:
  + Row labels: name of all alkali metal elements,
  + Column labels: element symbol, atomic number, boiling point (Rankine), evaporation heat (kcal/g),
  + Use scientific notation where applicable with 6 significant figures,
  + Print the data frame,
  + Using `pandas` statistical functions, calculate the mean and standard deviation of the last two columns,
  + Plot boiling point (with units) versus element name.

## <span style="color:blue">Assignment 3 (25 pts).</span>
### <span style="color:blue">Using `pandas`, `mendeleev`, and a `for` loop, make a data frame table and plot as follows:
  + Row labels: name of all lanthanide elements,
  + Column labels: symbol, atomic number, atomic radius, mass density, electron affinity, isotopes mass number,
  + Use scientific notation where applicable with 6 significant figures,
  + Print the data frame,
  + Using `pandas` statistical functions, calculate the mean and standard deviation of the penultimate column.
  + Plot atomic radius (with units) versus element symbol.

## <span style="color:blue">Assignment 4 (25 pts).</span>
### <span style="color:blue">Using `pandas`, `mendeleev`, and a `for` loop, make a data frame table and plot as follows:
  + Row labels: name of all transition metals elements,
  + Column labels: symbol, atomic number, atomic radius, mass density, electron affinity, isotopes mass number,
  + Use scientific notation where applicable with 6 significant figures,
  + Print the data frame,
  + Using `pandas` statistical functions, calculate the mean and standard deviation of the penultimate column,
  + Plot mass density (with units) versus element symbol.